.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    input {
        width: 385px;
        height: 32px;
    }
    input,
    textarea {
        border-radius: 6px;
        outline: none;
        margin: 10px 10px 10px 0;
        font-size: 14px;
    }
    button {
        text-decoration: none;
        padding: 12px 32px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        background: linear-gradient( 90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
        color: #fff;
    }
    .error-message {
        color: red;
        font-size: 12px;
    }
}