.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    input,
    textarea {
        border-radius: 6px;
        padding: 8px;
        font-size: 16px;
        margin: 10px;
        word-wrap: break-word;
        outline: none;
    }
    span {
        font-weight: 900;
        font-size: 12px;
        text-align: center;
        color: blue;
        padding: 8px;
        padding-bottom: 12px;
    }
    button {
        text-decoration: none;
        padding: 12px 32px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        background: linear-gradient( 90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
        color: #fff;
        text-transform: capitalize;
    }
    .error-message {
        font-size: 12px;
        color: red;
        padding-left: 8px;
    }
}