.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    input {
        border-radius: 6px;
        padding: 8px;
        font-size: 16px;
        margin: 10px;
        word-wrap: break-word;
        outline: none;
    }
}